<!DOCTYPE html>
<html>
<head>
	<title>Daily Planet</title>
</head>
<body>	
		<h6><a href="articles/new">Add new article</a></h6>
	
		<% for (var i = 0; i < allArticles.length; i++) { %>
		<li>
		<a href="articles/<%= i %>"><h6><%= allArticles[i].title %></h6></a>
		</li>
		<% } %>
	

</body>
</html>