<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>New Article</h3>
	<form action="/articles" method="post">
		<input type="text" name="title" placeholder="title of article">
		<br>
		<br>
		<textarea type="text" name="article" placeholder="article body"></textarea>
		<br>
		<br>
		<input type="submit" value="Post Article">
	</form>
</body>
</html>